@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: #f8eee7;
}
.container{
  max-width: 960px;
  margin: 0 auto;
}
.list{
  margin: 10px;
}
.list .search{
  text-align: center;
  border: 1px solid #49274a;
  padding-top: 30px;
  padding-bottom: 50px;
  border-radius: 10px;
}
.list .search input{
  width: 80%;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #49274a;
  background-color: #f8eee7;
}
.list .add{
  display: none;
}
.list .drinks{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

}
.search{
  background-color: #f4decb;
}
.list .drinks .item{
  margin: 10px;
  border: 2px solid #49274a;
  padding: 20px;
  width: 26.5%;
  border-radius: 10px;
  position: relative;
  background-color: #f4decb;
}
@media (max-width: 960px) {
  .list .drinks{
    justify-content: center;
  }

}
.list .drinks a{
  color: #94618e;
  padding-top: 10px;
  text-decoration: none;

}
.list .actions{
  position: absolute;
  bottom: 0;
  left: 35%;
}
ul{
  margin-left: 40px;
}
ul input{
  display: block;

}
.ingredients ul li{
    margin-top: 5px;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  .ingredients input{
    margin-top: 5px;
  }
.ingredients ul li:empty{
    display: none;
  }
.completed{
  text-decoration: line-through;
  color: #7d7d7d;
}
label{
  font-size: 1.3em;
}
